{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 200,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "crlf",
    "svelteStrictMode": true
}
